body {
    background: #4259CA;
}

.card-body {
    height: 100%;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1.5rem;
    padding: 10% 0;
    height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}